@import url("https://fonts.googleapis.com/css?family=Oswald:400|Rubik:400,400i,500,500i");

body{
	font-family: 'Rubik';
	background-image: url(img/fond.png);
	background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
}

.img1{
	border: 0.188em solid black;
}

.texte{
	text-shadow: 0.063em 0.063em 0.5em #005ead;
}

h1{
	text-align: center;
	color: #013f71;
	font-size: 3em;
	text-shadow: 0.063em 0.063em 0.5em #005ead;
}

h2{
	color: #005ead;
}

h3{
	color: #005ead;
}


a{
	text-decoration: none;
	color: #164384;
}

a:hover{
	text-decoration: none;
	text-shadow: 0.063em 0.063em 0.5em #005ead;
}

a:active{
	text-decoration: none;
}

a:visited{
	text-decoration: none;
	color: #164384;
}

#menuHaut
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: 0.188em #19202b solid;
    background-image: url("img/bg-menu.png");
    box-shadow: 0em 0.25em 0.125em -0.125em black;
    height: 8em;
}


.elementMenuHaut:nth-child(1){
	flex-basis: 31.25em;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 1;
    word-wrap: break-word;
    }


.elementMenuHaut:nth-child(2){
	flex-basis: 13em;
	margin: auto;
    margin-left: 1.25em;
    word-wrap: break-word;
}

.elementMenuHaut:nth-child(3){
	flex-basis: 25em;
	margin: auto;
	margin-left: 1.25em;
    word-wrap: break-word;
}

.elementMenuHaut:nth-child(4){
    flex-basis: 10em;
    margin: auto;
    margin-left: 1.25em;
    word-wrap: break-word;
}

.elementMenuHaut:nth-child(5){
    flex-basis: 50em;
    margin: auto;
    margin-left: 1.25em;
    word-wrap: break-word;
}

a#menustyle {
     text-decoration: none;
     color: #ffffff;
     font-size: 1.25em;
}

a#menustyle:hover {
     text-decoration: none;
     color: #ffffff;
     text-shadow: 0.063em 0.063em 0.188em #005ead;
}

.champ-obligatoire {
     color: #ff1300;
     text-shadow: none;
     font-size: 0.8em;
}

.form-error {
     display: flex;
     margin-left: auto;
     margin-right: auto;
     flex-direction: column;
     margin-top: 1.25em;
     width: 56.25em;
     align-items: center;
     justify-content: center;
     vertical-align: center;
     padding: 0.938em;
     border-radius: 0.188em;
     border: 0.188em #ff6464 solid;
     background-color: rgba(235, 7, 7, 0.5);
     color: #ffb3b0;
     text-shadow: none;
}
 .form-error-title {
     display: block;
     margin-bottom: 0.125em;
     line-height: 2.813em;
     color: #ff7070;
     font-weight: bold;
     font-size: 1.3em;
     text-shadow: none;
}


.form-valid {
     display: flex;
     margin-left: auto;
     margin-right: auto;
     flex-direction: column;
     margin-top: 1.25em;
     width: 56.25em;
     align-items: center;
     justify-content: center;
     vertical-align: center;
     padding: 0.938em;
     border-radius: 0.188em;
     border: 0.188em #1bfa21 solid;
     background-color: rgba(35, 255, 41, 0.5);
     color: #009a60;
     text-shadow: none;
}
 .form-valid-title {
     display: block;
     margin-bottom: 0.125em;
     line-height: 2.813em;
     color: #009a60;
     font-weight: bold;
     font-size: 1.3em;
     text-shadow: none;
}

ul {
list-style-type: none;
margin-left: 0em;
padding-left: 0em;
}

li {
margin-bottom: 0.938em;
}


.texte-form{
	font-size: 1.2em;
	color: white;
}

.titreForm {
     font-size: 1.8em;
     text-shadow: none;
     text-align: center;
     color: white;
     margin: 0.938em;
     border-bottom: 0.313em #19202b solid;
}

#sectionTitre{
     background-color: rgba(61, 90, 241 ,0.7);
     border: 0.188em #3d5af1 solid;
     border-radius: 0.625em 0.625em 0em 0em;
     width: 61.25em;
     padding: 0.625em;
     padding-bottom: 1.25em;
     margin: auto;
     margin-top: 1.875em;
     text-align: center;
}

#formulaire{
     background-color: rgba(25, 32, 43, 0.2);
     border: 0.188em #3d5af1 solid;
     border-radius: 0em 0em 0.625em 0.625em;
     border-top: none;
     width: 62.5em;
     margin: auto;
     text-align: center;
     box-shadow: 0.375em 0.375em 1.25em black;
     text-shadow: none;
     margin-bottom: 2.5em;
}

 label {
     margin-top: 0.938em;
     display: block;
     width: 37.5em;
     float: left;
}


#label0 {
     padding-top: 0.313em;
     padding-bottom: 0.313em;
     padding-left: 0.313em;
     border-bottom: 0.188em #000000 solid;
}

 #label1 {
     padding-top: 0.313em;
     padding-left: 0.313em;
     border-top: 0.188em #000000 solid;
     background-color: rgba(10, 20, 35, 0.2);
     border-bottom: 0.375em #000000 solid;
     padding-bottom: 0.313em;
}

input, select{
     margin-top: 0.625em;
     height: 1.875em;
     width: 20em;
     border: none;
     border-radius: 0.313em;
}

 .champ-obligatoire-tip {
     color: #88001d;
     text-shadow: none;
     font-size: 0.6em;
     margin-left: 53.125em;
}

.button-submit{
  	background-color: #9e016f;
  	border-radius: 0.188em;
  	border-color: #9e016f;
  	color: white;
  	padding: 1em 2em;
  	text-align: center;
  	font-size: 1em;
  	margin: 0.25em 0.125em;
  	opacity: 1;
  	transition: 0.3s;
}

.button-submit:hover{
	opacity: 0.6;
	cursor: pointer;
}
